<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <appender name="null" class="org.apache.log4j.varia.NullAppender" />

  <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
    <param name="target" value="System.out" />
    <param name="encoding" value="UTF-8" />
    <param name="threshold" value="INFO" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern"
        value="%-5p %d{ISO8601} [%t][%X{SOA_CALL_ID}][%X{context-id}] %c '%m'%n" />
    </layout>
  </appender>

  <appender name="trace" class="org.apache.log4j.FileAppender">
    <param name="file" value="trace.log" />
    <param name="append" value="true" />
    <param name="encoding" value="UTF-8" />
    <param name="threshold" value="INFO" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern"
        value="%-5p %d{ISO8601} [%t][%X{SOA_CALL_ID}][%X{context-id}] %c '%m'%n" />
    </layout>
  </appender>

  <logger name="org.jactors">
    <level value="DEBUG" />
  </logger>

  <root>
    <level value="DEBUG" />
    <appender-ref ref="stdout" />
    <!--appender-ref ref="trace" /-->
  </root>
</log4j:configuration>
